JustMyTicket/Service References/BusReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bus" nillable="true" type="tns:Bus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBus" nillable="true" type="tns:ArrayOfBus" />
  <xs:complexType name="Bus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bus_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mappath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rush" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bus" nillable="true" type="tns:Bus" />
  <xs:complexType name="REGISTER">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bus_Money" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone_Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="REGISTER" nillable="true" type="tns:REGISTER" />
</xs:schema>