JustMyTicket/Service References/BusReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60613/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60613/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60613/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusWCF" />
      <xsd:import schemaLocation="http://localhost:60613/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RetrieveFormatedAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFormatedAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_RetrieveFormatedAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFormatedAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BusRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:BusRoute" />
  </wsdl:message>
  <wsdl:message name="IService1_BusRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BusRoute1_InputMessage">
    <wsdl:part name="parameters" element="tns:BusRoute1" />
  </wsdl:message>
  <wsdl:message name="IService1_BusRoute1_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusRoute1Response" />
  </wsdl:message>
  <wsdl:message name="IService1_User_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:User_Register" />
  </wsdl:message>
  <wsdl:message name="IService1_User_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:User_RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Current_Balance_InputMessage">
    <wsdl:part name="parameters" element="tns:Current_Balance" />
  </wsdl:message>
  <wsdl:message name="IService1_Current_Balance_OutputMessage">
    <wsdl:part name="parameters" element="tns:Current_BalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_payMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:payMoney" />
  </wsdl:message>
  <wsdl:message name="IService1_payMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:payMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RetrieveFormatedAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RetrieveFormatedAddress" message="tns:IService1_RetrieveFormatedAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RetrieveFormatedAddressResponse" message="tns:IService1_RetrieveFormatedAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BusRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BusRoute" message="tns:IService1_BusRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BusRouteResponse" message="tns:IService1_BusRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BusRoute1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BusRoute1" message="tns:IService1_BusRoute1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BusRoute1Response" message="tns:IService1_BusRoute1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="User_Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/User_Register" message="tns:IService1_User_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/User_RegisterResponse" message="tns:IService1_User_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Current_Balance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Current_Balance" message="tns:IService1_Current_Balance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Current_BalanceResponse" message="tns:IService1_Current_Balance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="payMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/payMoney" message="tns:IService1_payMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/payMoneyResponse" message="tns:IService1_payMoney_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveFormatedAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/RetrieveFormatedAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusRoute">
      <soap:operation soapAction="http://tempuri.org/IService1/BusRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusRoute1">
      <soap:operation soapAction="http://tempuri.org/IService1/BusRoute1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_Register">
      <soap:operation soapAction="http://tempuri.org/IService1/User_Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Current_Balance">
      <soap:operation soapAction="http://tempuri.org/IService1/Current_Balance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payMoney">
      <soap:operation soapAction="http://tempuri.org/IService1/payMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60613/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>